<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Isa Karaman</title>

    <link rel="stylesheet" href="../css/main.css?v=<?php echo time(); ?>" />
  </head>
  <body>
    <main>
      <!-- Navihation -->
      <!-- Ana Sayfa Navigasyonu -->
      <nav>
        <ul class="nav_links">
          <li><a class="current" href="anaSayfa.html">Kullanici Listele</a></li>
          <!-- kullaniciEkle.html -->
          <li><a href="./kullaniciEkle.html">Kullanici Ekle</a></li>
          <!-- grup ile kullanilari ayni yerde gosterebilirim. -->
          <li><a href="./grupListele.html">Grup Listele</a></li>
          <!-- gurupEkle.html -->
          <li><a href="./grupEkle.html">Grup Ekle</a></li>
        </ul>
        <button class="btn-cikis">Cikis Yap</button>
      </nav>
      <!-- Navihation End-->

      <!-- Kullanicilar -->
      <section>
        <!-- tablo sekilde burada gosterilebilir -->
        <table id="kullanicilar" class="anaSayfa-Tablo"></table>
        <!-- inner.html yada baska yollar ile emin degilim. -->
      </section>
      <!-- Kullanicilar  End-->
    </main>

    <script>
      async function getData() {
        const tablo = document.getElementById("kullanicilar");

        const req = await fetch("../backend/kullanicilariGetir.php");
        const res = await req.text();
        const data = JSON.parse(res);
        console.log(data);
        const kisiler = data.kullanicilar;
        console.log(kisiler);
        tablo.innerHTML = `
          <tr>
            <th>ID</th>
            <th>AD</th>
            <th>SOYAD</th>
            <th>EMAIL</th>
            <th>TELL NO</th>
            <th>CEP NO</th>
            <th>UNVAN</th>
            <th>GRUP ADI</th>
          </tr>
          `;

        // Saat gece 5 ve artik DRY dusunemiyorum amelelik mod ON

        kisiler.forEach((kisi) => {
          const trTag = document.createElement("tr");
          const kisiIdTag = document.createElement("td");
          const adTag = document.createElement("td");
          const soyadTag = document.createElement("td");
          const emailTag = document.createElement("td");
          const telNo = document.createElement("td");
          const cepNo = document.createElement("td");
          const unvan = document.createElement("td");
          const grupAd = document.createElement("td");

          // bilgiler tabloya eklenmesi
          kisiIdTag.textContent = kisi.kisilerId;
          adTag.textContent = kisi.ad;
          soyadTag.textContent = kisi.soyad;
          emailTag.textContent = kisi.email;
          telNo.textContent = kisi.telNo;
          cepNo.textContent = kisi.cepNo;
          unvan.textContent = kisi.unvan;
          grupAd.textContent = kisi.grupAd;

          // bilgilerin her bir tr tag arasinda olmasi
          trTag.appendChild(kisiIdTag);
          trTag.appendChild(adTag);
          trTag.appendChild(soyadTag);
          trTag.appendChild(emailTag);
          trTag.appendChild(telNo);
          trTag.appendChild(cepNo);
          trTag.appendChild(unvan);
          trTag.appendChild(grupAd);

          // root enson ekliyoruz alev gibiyim
          tablo.appendChild(trTag);
        });
      }

      getData();
    </script>
  </body>
</html>
